<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScreenTime.DefaultSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ScreenTime.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScreenTime.DefaultSettings>
            <setting name="GetTopWindowInterval_s" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RefreshListBoxInterval_s" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HideWhenStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserDataDirectory" serializeAs="String">
                <value>.\data</value>
            </setting>
        </ScreenTime.DefaultSettings>
        <ScreenTime.Settings>
            <setting name="GetTopWindowInterval_s" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RefreshListBoxInterval_s" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HideWhenStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserDataDirectory" serializeAs="String">
                <value>.\data</value>
            </setting>
        </ScreenTime.Settings>
    </userSettings>
</configuration>