<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScreenTime.DefaultSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ScreenTime.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScreenTime.DefaultSettings>
            <setting name="JpegQuality" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ExeIconFolderPath" serializeAs="String">
                <value>.\user_data\exe_icon</value>
            </setting>
            <setting name="ScreenshotFolderPath" serializeAs="String">
                <value>.\user_data\screenshot</value>
            </setting>
            <setting name="GetTopWindowInterval_s" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Screenshot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScreenshotInterval_s" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="RefreshListBoxInterval_s" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HideWhenStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JsonDataFolderPath" serializeAs="String">
                <value>.\user_data\data</value>
            </setting>
        </ScreenTime.DefaultSettings>
        <ScreenTime.Settings>
            <setting name="JpegQuality" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ExeIconFolderPath" serializeAs="String">
                <value>.\user_data\exe_icon</value>
            </setting>
            <setting name="ScreenshotFolderPath" serializeAs="String">
                <value>.\user_data\screenshot</value>
            </setting>
            <setting name="GetTopWindowInterval_s" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Screenshot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScreenshotInterval_s" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="RefreshListBoxInterval_s" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HideWhenStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JsonDataFolderPath" serializeAs="String">
                <value>.\user_data\data</value>
            </setting>
        </ScreenTime.Settings>
    </userSettings>
</configuration>